.todo-content{
  width: 90%;
  border: 1px solid lightgray;
  padding: 30px;
  margin: 15%;
  margin-left: 17%;
  justify-content: center;
  align-items: center;
  background: lightseagreen;
  border-radius: 10px;
}
.todo-input{
  display:flex;
  width:100%;
  margin-bottom:20px;
  height: 60px;
}
.todo-input input{
  width: 100%;
  padding: 5px 5px;
  height: 50px;
  border: 1px solid skyblue;
  border-radius: 10px;
  font-size: 45px;
}
.todo-input input:focus{
  outline:unset;
}
.list-row textarea:focus{
  outline:unset;
}
.list-row textarea{
  width:100%;
  background:transparent;
  border:none;
  color:green;
  font-size:30px;
}
.list-row textarea:focus{
  outline:unset;
}

.todo-input button{
  padding: 5px 30px;
  background: darkblue;
  color: white;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  cursor: pointer;
  transition:.5s;
  font-size:18px;
}
.todo-input button:hover{
  background:black;
}
.todo-input button:focus{
  outline:unset;
}
.line-through{
  text-decoration:line-through;
}
.edit-todo,.update-todo,.remove-todo, .check-todo{
  padding: 0px 5px;
  cursor:pointer;
}
.todo-content .todo-list{
  list-style-type: none;
  padding-left: 0px;
  background: #f9f9f9;
}
.todo-content .list-error,.error{
  color:white;
}
.list-row{
  margin-bottom: 15px;
  background-color: orange;
  border-radius: 10px;
}
.todo-content .todo-list .list-row{
  padding:5px 10px;
  position:relative;
  word-break: break-all;
  display:flex;
  transition:.1s;
  cursor:pointer; 
}
.todo-content .list-row .list-data,.todo-content .list-row .update-data{
  width:100%;
  text-align:justify;
}
.todo-content .todo-list .list-row:nth-child(even){
  background:#e4e4e4;
}
.todo-list{
  border-radius: 10px;
}
.todo-list .edit-todo,.remove-todo,.update-todo, .check-todo{
  visibility:hidden;
}
.todo-content .todo-list .list-row:hover{
  background:#d8d8d8;
}
.todo-content .todo-list .list-row:hover .edit-todo{
  visibility:visible;
}
.todo-content .todo-list .list-row:hover .remove-todo{
  visibility:visible;
}
.todo-content .todo-list .list-row:hover .update-todo{
  visibility:visible;
}
.todo-content .todo-list .list-row:hover .check-todo{
  visibility: visible;
}
.remove-todo{
  color: darkred;
}
.check-todo{
  color: blue;
}

@media screen and (max-width: 1500px) {
  body {
    background-color: skyblue;
  }
  h2{
    font-size: 50px;
  }
  p{
    font-size: 30px;
  }
  input{
    font-size: 50px;
  }
  .list-data{
    font-size: 40px;
  }
  .todo-content{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .check-todo .edit-todo .remove-todo{
    font-size: 45px;
  }

}
